<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzyl.nursing.mapper.ReservationMapper">
    <insert id="insertOne">
        insert into `ry-zzyl2`.reservation (name, mobile, time, visitor, type, status, create_time, update_time, create_by, update_by, remark)
        values (#{name},#{phone},#{time},#{visitor},#{type},#{status},#{createTime},#{updateTime},#{creatBy},#{updateBy},#{remark})
    </insert>
    <update id="cancelById">
        update `ry-zzyl2`.reservation set status = 2 where id = #{id}
    </update>
    <update id="updateExpireStatus">
        update `ry-zzyl2`.reservation set status = 3 where id = #{id}
    </update>


    <!--    <select id="selectByNameAndId" resultType="com.zzyl.nursing.domain.Reservation">-->
<!--        select id,name,mobile as phone,time,visitor,type,status,create_time,update_time,create_by,update_by,remark from `ry-zzyl2`.reservation-->
<!--        where create_by = #{userId} and name = #{name}-->
<!--    </select>-->
<!--    <select id="selectByPhoneAndId" resultType="com.zzyl.nursing.domain.Reservation">-->
<!--        select id,name,mobile as phone,time,visitor,type,status,create_time,update_time,create_by,update_by,remark from `ry-zzyl2`.reservation-->
<!--        where create_by = #{userId} and mobile = #{phone}-->
<!--    </select>-->
    <select id="selectByPhone" resultType="com.zzyl.nursing.domain.Reservation">
        select id,name,mobile as phone,time,visitor,type,status,create_time,update_time,create_by,update_by,remark from `ry-zzyl2`.reservation
        where mobile = #{phone}
    </select>
    <select id="pageQuery" resultType="com.zzyl.nursing.vo.ReservationVo">
        select id,name,mobile,time,visitor,type,status,create_time,create_by,update_by,update_time,remark
        from `ry-zzyl2`.reservation
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="userId != null">
                and create_by = #{userId}
            </if>
        </where>
    </select>

    <select id="selectExpireList" resultType="com.zzyl.nursing.domain.Reservation">
        select id,name,mobile as phone,time,visitor,type,status,create_time,update_time,create_by,update_by,remark from `ry-zzyl2`.reservation
        where status = 0 and time &lt; now()
    </select>
</mapper>